
h1{
  font-family: "amiri", serif;
  font-weight: bold;
}
h2{
  font-family: "amiri", serif;
  font-weight: 500;
}

h3,
h4,
h5,
h6{
  font-family: 'Open Sans', sans-serif;
}

h1{ font-size:42pt; }
h2{ font-size:32pt; }
h3{ font-size:14pt; }
h4{ font-size:11pt; }
h5{ font-size:11pt; }
h6{ font-size:11pt; }

h2{
  margin:0.2em 0 0.4em 0;
}

p, table, li, figcaption{
  font-family: 'Open Sans', sans-serif;
  font-size:10pt;
}

figure{
  display:inline-block; vertical-align: top;
  margin:4mm 0 0;
  img{
    // box-shadow: 0 0 1mm 1mm #CCC;
    border: 1px solid #ccc;
  }
  figcaption{
    font-size: 8pt;
  }
}

img[alt="logo"]{
  max-height: 0.9cm;
  display:inline-block; vertical-align: top;
  margin:5mm 5mm 0 0;
  & + br{display:none;}
}

img[alt~="visuel"]{
  margin:0 4mm 0 0;
  & + figcaption{display:none;}
  &:not([alt~="full"]){
    max-height: 6.5cm;
  }
  &[alt~="full"]{
    max-width: 85%;
  }
}

a{
  color: inherit;
}

.header:after{
  font-family: "amiri", serif;
  font-weight: normal;
  font-size: 9pt;
}

.footer{
  text-align: left;
  &:after{
    font-family: "amiri", serif;
    font-weight: bold;
    font-size: 10pt;
  }
}
