/**
 * This file is part of HTML2print.
 *
 * HTML2print is free software: you can redistribute it and/or modify it under the
 * terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * HTML2print is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along
 * with HTML2print.  If not, see <http://www.gnu.org/licenses/>.
 */


/**
 * The less CSS is splitted accross different files for a better organisation.
 *
 * This is the main less css file that defines custom values and requires all
 * the the neccessary dependencies.
 */



/**
 * THE CODE BELOW IS REQUIRED TO MAKE HTML2PRINT WORK.
 */

@function mm2pt($mm){
  @return $mm*2.8346pt;
}

/**
 * Defines and loads the rules that set the geometry of the page and its
 * representation on screen. This is the core of html2print.
 *
 * Customize the variables to your needs.
 */

/* the geometry of the page */
$page-width: mm2pt(110);
$page-height: mm2pt(200);

/* the size of the crop marks based on scribus defaults */
$crop-size: mm2pt(2);

/* the size of bleed */
$bleed: mm2pt(3);

/* loads the core file */
// @import "html2print.scss";


/**
 * THE CODE BELOW IS NOT REQUIRED TO MAKE HTML2PRINT WORK, ALTHOUGH IT PROVES
 * USEFUL IN MANY SITUATIONS.
 *
 * YOU ARE ENCOURAGED TO CUSTOMIZE IT TO YOU NEEDS.
 */



/**
 * Defines and generate helper css rules to absolutly position elements on a
 * grid.
 *
 * Customize the variables to your needs.
 */

$col-number: 9;
$col-gutter: mm2pt(3);

//$row-number: 13;
$row-number: 12;
$row-gutter: mm2pt(4);

$grid-color: rgba(255, 0, 0, 0.25);
$baseline-grid-color: rgba(0, 255, 255, 0.15);

/* Loads the rules for using grids */
// @import "grid.scss";



/**
 * Loads the rules to outline the main blocs
 */

// @import "debug.scss";



/**
 * Loads a few less helpers
 */

// @import "mixins.scss";



/**
 * Defines and loads the rules that set the base layout of the document
 * (header, body, footer)
 *
 * Customize the variables to your needs.
 */

// FIXME: make a case for single page layouts
$page-margin-inside: mm2pt(7.5);
$page-margin-outside: mm2pt(15);
$page-margin-top: mm2pt(10);
$page-margin-bottom: mm2pt(10);

// @import "layout.scss";


/**
 * Loads your own styles.
 *
 * Customize the file/path to you needs.
 */

/*@import '/vendors/reset-css/reset.css';*/
/*@import "../vendors/normalize.css/normalize.css";*/
/*@import "../vendors/normalize-opentype.css/normalize-opentype.css";*/
// @import "fonts.scss";
// @import "colors.scss";

$line-height: mm2pt(4);
// @import "styles.scss";

@import "html2print.scss";

@import "grid.scss";

@import "debug.scss";

@import "mixins.scss";

@import "layout.scss";

@import "fonts.scss";

@import "colors.scss";

@import "styles.scss";

/*@import "export.scss";*/
